footer {
    font-family: 'Poiret One', cursive;
}

.blue {
    background-color: #184e77;
}

.social a {
    color: #fff;
    font-size: 1.5rem;
}

footer p:last-child {
    font-weight: lighter;
    font-size: smaller;
    margin-top: 2rem;
}

footer h4 {
    font-family: 'Orelega One', cursive;
}

footer .button {
    color: #184e77;
    text-transform: capitalize;
}