body {
    font-family: 'Orelega One', cursive;
    font-family: 'Poiret One', cursive;
}

.astuces {
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;
    padding-top: 8rem;
    font-size: 3rem;

}

.card:hover {
    opacity: .5;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

.titre {
    font-family: 'Orelega One', cursive;
}

footer {
    font-family: 'Poiret One', cursive;
}

.blue {
    background-color: #184e77;
}

.social a {
    color: #fff;
    font-size: 1.5rem;
}

footer p:last-child {
    font-weight: lighter;
    font-size: smaller;
    margin-top: 2rem;
}

footer h4 {
    font-family: 'Orelega One', cursive;
}

footer .button {
    color: #184e77;
    text-transform: capitalize;
}